/shelf/
/hook-ctypes.macholib.py
/.idea/
/build/
/dist/
/cache/
/work/
/gui/
/save/
/t
/整合包本地化工具.spec
/resource/controls
/models/
/inference_service/.venv/
/inference_service/models/
/inference_service/uv.lock
.kilo
/node_modules

